/*html ellements*/
body{
  background: silver;
}

/*search results*/
.pet-box{
  display: inline-block;
}

.display-pet{
  display: inline-block;
  height: 200px;
  width: 200px;
  text-align: center;
  margin: 20px;
  background: white;
  border: 0px;
  padding: 0px;
}

.small-pic{
  height: 100px;
}

.large-pic{
  height: 200px;
  width: 200px;
}

/*user input */
.form-group{
  display: inline-block;
}
